@CHARSET "US-ASCII";

.nav-tabs>li.active {
  background: #FFF;
  /*border-radius: 5px 5px 0px 0px;
  margin: 2px 2px -2px 2px;*/
}

.nav-tabs>li.active>a {
  color: #555 !important;
}

.btn.btn-xs {
  padding: 4px 8px;
}

.form-control {
  background-image: linear-gradient(#5D7BA0,#5D7BA0),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

.form-group .form-control:focus, 
.form-group-default .form-control:focus {
  background-image: linear-gradient(#5D7BA0,#5D7BA0),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

.form-group.has-error .material-input:focus, 
.form-group.has-error .form-control:focus, 
.form-group.has-error .form-control.focus {
  background-image: linear-gradient(#D42041,#D42041),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

#optional .form-group.has-error .material-input:focus, 
#optional .form-group.has-error .form-control:focus, 
#optional .form-group.has-error .form-control.focus {
  background-image: linear-gradient(#999999,#999999),linear-gradient(#d2d2d2,#d2d2d2) !important;
}

.nav-tabs {
  background: #5D7BA0 !important;
}
.navbar.navbar, .navbar-default.navbar {
  background-color: #5D7BA0 !important;
}

a, a:hover, a:focus {
  color: #5D7BA0;
}

pre.wordbreak
{
	font-size:80%;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* Fixing the list items */
.list-group .list-group-item {
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px 10px;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.list-group .list-group-item .list-group-item-heading {
  font-weight: bold;
  font-size: 16px;
}
.list-group .list-group-item.active .list-group-item-heading {
  color: white;
}
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #5D7BA0 !important;
  border: 1px solid #5D7BA0 !important;
}

.list-group-item.active a,
.list-group-item.active .list-group-item-text,  
.list-group-item.active:focus a, 
.list-group-item.active:hover a {
	color: #c7ddef !important;
}
.list-group-item .list-group-item-text {
	/*font-size:0.85em;*/
}
.list-group .list-group-item.active:hover, 
.list-group .list-group-item.active:focus {
  background: none;
  outline: none;
}


/* Some of the following is theme agnostic stuff after this  -- move to external stylesheet later */

.dropdown-menu .item {
  padding: 5px;
}

.dropdown-menu .item-selected {
  background-color: #eee;
}

/* Bootstrap column align center */
.vcenter {
    vertical-align: middle !important;
    display: inline-block !important;
    float:none !important;
    /*padding-right:10px !important;
    padding-left:10px !important;*/
}

.help-block {	
	font-size: 0.8em;
}

.no-pad-container {
	padding: 0px !important;
	margin: 0px !important;
}

.page-header {
  padding-bottom: 10px !important;
  margin: 10px 5px 12px !important;
  border-bottom: 1px solid #ddd !important;
}

.h1, h1 {
  font-size: 32px !important;
}

.h1 small, h1 small {
	font-size:50% !important;
}


/**
 Condensed layout: Smaller margins
 */
body {
	padding-top: 65px;
}
.page-header {
	padding: 0px !important;
}
.page-header h1 {
	margin-top: 0px !important;
}
.well {
	padding: 15px !important;
	padding-right: 8px !important;
}
.well h2.catheading {
	margin: -15px;
	margin-right: -8px;
	margin-bottom: 4px;
	padding: 15px;
	padding-bottom: 10px;
	border-bottom: 4px double #E5E5E5;
	/*background: #F5F5F5;*/
}

.well h3.catheading {
	padding-bottom: 5px;
	/*border-bottom: 1px solid #E5E5E5;*/
}

h1 small {
	padding: 4px 1px;
	display:block;
}
.panel-body.tight-body {
	padding: 0px;
}
.panel-body.tightish-body {
	padding: 5px;
}
.panel-heading.tight-header {
	padding: 0px 15px !important;
	padding-right: 4px !important;
}
.margined-input {
  margin: 2px;
  margin-bottom: 6px;
}
.panel.no-shadow {
	box-shadow: none;
	border: 1px solid #eee;
}
.has-bottom-margin {
	margin: 1px 1px 8px !important;
}
.btn-group-header {
	margin: 4px !important;	
}
.btn-group-header .btn {
	padding: 6px 12px !important;
}
.btn-group-header .btn-info {
  background-color: #6D88AA !important;
  border-color: #6D88AA !important;
}
.btn-group-header .btn-info:hover {
  background-color: #7D95B3 !important;
}

/**
 Wrapping of words
 */
.wrap-long-words {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.wrap-pre {
	width: 100%;
	white-space: pre-wrap;
}

/**
 Different fonts
 */
.panel-title, .panel-heading, h5, h4, h3, h2, h1 {
	font-family: 'Roboto Condensed';
	font-weight: bold;
}

/**
 Table: condensed + some other features
 */
.gwtb3-cell  {
	padding: 0px 8px !important;
	margin: 0px;
	vertical-align: middle !important;
	border: 0px !important;
	/*font-size: 0.95em;*/
}
.gwtb3-cell .btn {
    margin: 6px 1px !important;
}
.button-cell .btn {
	padding: 2px 4px !important;
}
.admin-cell, .selection-cell {
	display: none;
	width: 0px;
}
.admin-table .admin-cell {
	display: table-cell;
	width: 64px;
}
.selection-table .selection-cell {
	display: table-cell;
	width: 32px;
}
.fixed-layout-table {
	table-layout: fixed;
}

.pagination {
	margin:0px;
}
.pagination .active a, 
.pagination .active a:hover,
.pagination .active a:active
{
	background-color: #5D7BA0 !important;
	border-color: #5D7BA0 !important;
}
.software-list-scroller {
	min-height: 600px;
}
.navbar .navbar-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.navbar .navbar-brand {
    height: 50px !important;
}
.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.selected-row, .selected-row td {
	background-color: rgba(93, 123, 160, 0.3) !important;
}
.selected-row.even, .selected-row.even td {
	background-color: rgba(93, 123, 160, 0.35) !important;
}
.selected-row.active, .selected-row.active td {
	background-color: rgba(93, 123, 160, 0.4) !important;
}
.selected-row a {
	color: white;
}

/* IE Specific CSS */
@media screen\0 {
	.comparison-table {
		table-layout: fixed;
	}
	.comparison-table td {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.comparison-table td.no-border-cell {
	border: 0px !important;
}
.comparison-table td.no-padding-cell {
	padding: 0px;
}
.comparison-table td {
	padding: 10px;
	border-right: 1px solid #EEE;	
	vertical-align: top;
	min-width: 160px;
}
.comparison-table td.empty-cell {
	background: repeating-linear-gradient(
	  -45deg,
	  #EEEEEE,
	  #EEEEEE 5px,
	  #F5F5F5 5px,
	  #F5F5F5 10px
	);	
}
.comparison-table td.chart-cell {
	vertical-align: middle;	
	/*background: #EEE;
	border-color: #DDD;*/
}
.comparison-table td.chart-cell svg {
	max-width: 250px;
}
.comparison-table td.chart-cell div {
	text-align: center;
}
.comparison-table td.header-cell {
	padding: 0px;
	vertical-align: middle;	
	text-align: center;
	background: rgba(93, 123, 160, 0.8);
	margin-bottom: 5px;
	border-color: rgba(93, 123, 160, 0.9) !important;
	color: rgba(255, 255, 255, 0.84);
}
.comparison-table .browse-label {
	margin: 0px;
	border-radius: 0px;
	padding: 5px !important;
	font-size: 1em;
}

/**
 Buttons & form elements
 */
.btn.disabled, .btn[disabled] {
  background-color: #AAAAAA !important;
}
.btn-info, .panel-info > .panel-heading {
  background-color: #5D7BA0 !important;
  color: rgba(255,255,255,.84);
  border-color: #5D7BA0 !important;
}
.panel-info, .panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-color: #5D7BA0 !important;
}
.btn-info:hover {
  background-color: #6D88AA !important;
}
/* Bordered Fieldset */
fieldset.bordered-fieldset {
  margin-bottom: 4px;
  margin-left: -3px;
  padding: 0px 4px 0px 4px;
  border-radius: 4px !important;
  background: #F9F9F9;
  border: 1px dashed #F0F0F0;
}
/* Labels */
.form-group .control-label,
.browse-label {
	color: #5D7BA0 !important;
	font-family: 'Roboto Condensed';
	background-color: rgba(93,123,160,0.05) !important;
	border: 1px solid rgba(93,123,160,0.08) !important;
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: -3px;
}
.browse-label {
	font-weight: bold;
	font-size: 0.95em;
}
#required .form-group.has-error .control-label,
.browse-label.error-label {
	background-color: rgba(212, 32, 65,0.05) !important;
	border: 1px solid rgba(212, 32, 65,0.08) !important;	
	color: #D42041 !important;
}
#optional .form-group.has-error .control-label,
.browse-label.error-label.optional {
	color: #969696 !important;
	background-color: #F9F9F9 !important;
	border: 1px solid #F0F0F0 !important;		
}
/* Autogrow Text area */
.mirror-text {
	visibility: hidden;
	word-wrap: break-word;
}
.grow-textarea {
	padding: 0px;
	margin: 0px;
	padding-top:7px !important;
	padding-bottom:7px !important;
	border: none;
	outline: none;
	resize: none;
	width: 100%;
	height: 100%;
	float: none !important;
}
.grow-textarea:invalid {
	box-shadow: none;
}
.panel-heading.small-header {
  padding: 5px 8px !important;	
}
/* Select Box */
.bootstrap-select {
	margin-top: 0px;
	box-shadow: none !important;
}
.bootstrap-select .btn:focus {
  outline: 0px !important;
  outline-offset: 0px;
}
.bootstrap-select .btn:active {
  box-shadow:none;
}
.bootstrap-select .btn {
  text-transform:none;
}
.form-control.select-picker {
  background-image:none !important;
}

/**
 Breadcrumb styles
 */
.breadcrumb {
  font-family: 'Roboto Condensed';
  padding: 5px 8px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li > a {
	color: #999;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
  content: "\00BB";
}
.breadcrumb > li.active-crumb {
  font-size:1.5em;
  font-weight: bold;  
  text-transform: uppercase;
}
.breadcrumb > li.active-crumb > a {
  color: #5D7BA0;
}
.breadcrumb > li.first-crumb {
  text-transform: none !important;
}

/**
 Different colors and position for Carousel indicators
 */
.carousel {
	width: 50%;
}
.carousel-indicators {
	top: 10px !important;
}
.carousel-indicators li {
  border: 1px solid #D42041 !important;
}
.carousel-indicators li.active {
  background: #D42041 !important;
}

/**
 Icons
 */
 .navbar i.fa {
 	width: 16px;
	text-align: center; 	
 }
.header-icon {
	font-size: 4.5em !important;
	padding-right: 3px !important;
	color: #CCC;
}
.chart-icon {
	margin-bottom: -10px;
	margin-top: -15px;
	margin-right: -5px;
 	height: 88px !important;
 	width: 88px !important;
 	opacity: 0.8;
}

/************
 *
 * Smaller fonts, margins, etc for smaller devices
 *
 ************/
@media(max-width: 480px) {
  .h1, h1 {
    font-size: 17pt !important;
  }
  .h2, h2 {
    font-size: 16pt !important;
  }
  .h3, h3 {
    font-size: 15pt !important;
  }
  .h4, h4 {
    font-size: 14pt !important;
  }
  .h5, h5 {
    font-size: 13pt !important;
  }
  body {
  	padding-top: 48px !important;
  }
  .navbar {
  	margin-bottom: 0px !important;
  }
  .container {
  	padding-left: 5px !important;
  	padding-right: 5px !important;
  }
  .table {
  	padding: 0px;
  	margin: 0px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
  .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
  .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
  .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
  .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
  .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    margin: 0px;
    padding: 4px;
  }
  .row {
  	margin-left: -4px;
  	margin-right: -4px;
  }
  .col-xs-offset-1 {
  	margin-left: 8.33333333%;
  }
  .page-header {
  	margin-bottom: 5px !important;
  }
  .alert {
  	padding: 15px;
  }
  .panel-group {
  	margin-bottom: 5px;
  }
  .well {
	padding: 8px !important;
	padding-right: 4px !important;
  }
  .well h2.catheading {
	margin: -8px;
	margin-right: -4px;
	margin-bottom: -4px;
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 6px;
  }  
  .gwtb3-cell  {
	font-size: 0.95em;
  }
  .header-icon {
  	font-size: 3em !important;
  }
  .chart-icon {
	margin-bottom: -10px;
	margin-top: -10px;
 	height: 65px !important;
 	width: 65px !important;
 	opacity: 0.8;
  }
  .btn-group-responsive .btn {
    padding:5px 10px !important;
    font-size:80%;
    line-height: 1.1;
    border-radius:2px;
  }  
}

